<% content_for :title, "New product" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold text-gray-800">New product</h1>
  <%= link_to "â† Back to Products",
              products_path,
              class: "btn-back" %>
</div>

<%= render "form", product: @product %>

<br>
